<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCa14ty8jBSKWDZBm9NSAVgly_i490OeoE</string>
	<key>GCM_SENDER_ID</key>
	<string>547053335213</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.getxflutter</string>
	<key>PROJECT_ID</key>
	<string>getxfirebase-a0dd3</string>
	<key>STORAGE_BUCKET</key>
	<string>getxfirebase-a0dd3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:547053335213:ios:3978b8289158f187f34c24</string>
</dict>
</plist>